html{
    background:url(../../resources/images/privacykey.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:0;
    margin:0;
}
body{
    font-family:sans-serif;
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    overflow:auto;
    background:transparent;
}
header{
    width:100%;
    background:whitesmoke;
    border-bottom:1px solid #333;
    opacity:0.6;
    position:fixed;
    top:0;

    
    .btn{
        font-size:16px;
        margin:4px;
        display:inline-block;
    }
    
    #ca-config{
        float:right;
    }

}
form{
    width:100%;
    display:block;
}
.form-control{
    margin-bottom:10px;
}
input.form-control{
    width:100%;
}
.widgetContainer{
    display:block;
}
.xfInvalid .xfLabel{
    color:white !important;
}
.xfRequired > .xfLabel:after{
    color:white;
}
.btn-group{
    text-align:center;
    width:100%;
    margin-top:10px;
}
.creat-ca{
    
}
.app-name{
    text-align:center;
    font-size:48px;
    color:steelblue;
    margin-top:64px;
        
}
menu{
    text-align:center;
    width:100%;
    padding:10px 0;
    whitespace:nowrap;
}
.xfCase{
    max-width:400px;
    margin:0 auto;
    background:steelblue;
    border:1px solid whitesmoke;
    padding:20px;
}
ul{
    list-style:none;
    padding:0;
}
h3{
    color:whitesmoke;
    margin-top:10px;
}
.hint{
    margin-top:0;
    
}
#home{

    .cert-list{
        opacity:0.7;
        background:steelblue;
        color:whitesmoke;
        padding:20px;
        
        thead td{
            font-weight:700;
            color:white;
        }
        tr:hover{
            color:#333;
        }
        thead tr:hover{
            color:whitesmoke;
        }
        
        td{
            vertical-align:middle;
        }
        .fa-lock.active{
            color:darkgreen;
        }
        .fa{
            min-height:43px;
            display:inline-block;
        }
        .fa-unlock.pending{
            color:orange;
        }
        .fa-lock.expired{
            color:darkred;
        }
        
        td:nth-child(3){
            text-align:center;
            font-size:16px;
        }
    }
    ul{
        text-align:center;
    }
    li{
        width:100%;
    }
    
    .xfTrigger{
        display:inline-block;
        width:100%;
    }
    button{
        width:280px;
        padding:10px;
        position:relative;

        .fa{
            font-size:16px;
            position:absolute;
            right:10px;
            top:13px;
        }
    }
}

.bf-panel{
    background: transparent;
    display: block;
    margin: 0 auto;
    padding:20px;
    color:whitesmoke;

    
    form{
        display:inline-block;
        
        ul,li{
            list-style:none;
            padding:0;
            margin:0;
            width:100%;
        }
        
    }
    li{
        margin:10px 0;
    }
    .xfLabel{
        font-weight:300;    
    }
    .form-label{
        font-size:1.25em;
        border-bottom: thin solid #999999;
        padding: 10px 0;
        text-align: center;
        width: 100%;  
        margin-bottom:20px;
        letter-spacing:3;
    }
    label,input{
        font-size:1.2em;
        float:left;

    }
    input{
        float:left;
    }
    input:required {
        font-weight: bold;
    }
    
    // .form-row{
    //     float:left;
    //     width:50%;
    // }
    
    #save-ca{
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
}


#config,#create{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right:none;
}
#certs,#revoke{
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
#revoke{
    border-left:none;
}




