html {
  background: url(/exist/apps/eXistCA/resources/css/../../resources/images/privacykey.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
menu {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  whitespace: nowrap;
}
button {
  padding: 10px;
  font-size: 1.2em;
  margin: 0;
  border: 1px solid #666666;
  border-collapse: collapse;
  cursor: pointer;
}
button.selected-button {
  background: #ccc;
}
#config,
#create {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: none;
}
#certs,
#revoke {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#revoke {
  border-left: none;
}
ul {
  list-type: none;
}
.bf-panel {
  background: none repeat scroll 0 0 white;
  border: thin solid white;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  min-height: 300px;
  min-width: 320px;
  width: 40%;
  opacity: 0.75;
  padding: 0 20px;
}
.bf-panel form {
  display: inline-block;
}
.bf-panel form ul,
.bf-panel form li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.bf-panel form li {
  float: left;
  margin: 10px 0;
  text-align: center;
}
.bf-panel .form-label {
  font-size: 1.25em;
  border-bottom: thin solid #999999;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  letter-spacing: 3;
}
.bf-panel label,
.bf-panel input {
  font-size: 1.2em;
  float: left;
}
.bf-panel input {
  width: 100%;
  float: left;
  padding: 2px;
}
.bf-panel #save-ca {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
