/******* animation mixins ********/
html {
  background: url(../../resources/images/privacykey.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: transparent;
}
.alert {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 60px;
  text-align: left;
  margin-top: 30px;
}
.alert .fa-info {
  font-size: 48px;
  position: absolute;
  left: 15px;
  top: 3px;
}
.alert .fa-exclamation-circle {
  font-size: 48px;
  position: absolute;
  left: 10px;
  top: 20px;
}
.alert h5 {
  padding: 0;
  margin-bottom: 0;
}
.alert ul {
  list-style: normal;
  list-style-type: initial;
  margin: 0;
  padding: 0 0 0 15px;
}
.alert ul li {
  margin: 3px;
}
.alert-info {
  color: #4682B4;
}
.hidden {
  display: none;
  visibility: hidden;
}
form {
  width: 100%;
  display: block;
}
.form-control {
  margin-bottom: 10px;
}
input.form-control {
  width: 100%;
}
.widgetContainer {
  display: block;
}
.xfInvalid .xfLabel {
  color: white !important;
}
.xfInvalid .xfAlert {
  margin: -6px 0px 15px 0px;
  width: 100%;
}
.xfRequired > .xfLabel:after {
  color: white;
}
.xfRequiredEmpty:after {
  display: none;
}
.btn-group {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.btn-success {
  margin-top: 25px;
}
#CA-home .ca-name {
  font-size: 36px;
  overflow: auto;
}
.CA-form {
  margin-top: 70px;
}
.keysize-item {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.keysize-item .fa-key {
  font-size: 1.6em;
  display: block;
}
.keysize-item .keysize-btn {
  display: inline-block;
  width: 30%;
  padding: 10px 0;
}
.keysize-item .bit4096 {
  padding: 15px 0;
}
.keysize-item .bit4096 .fa-key {
  font-size: 2.2em;
}
.keysize-item .bit4096 span {
  font-size: 1em;
}
.keysize-item .bit8192 {
  padding: 20px 0;
}
.keysize-item .bit8192 .fa-key {
  font-size: 2.6em;
}
.keysize-item .bit8192 span {
  font-size: 1.1em;
}
.keysize-item h3 {
  text-align: left;
  margin-bottom: 30px;
  font-size: 22px;
}
.keysize-item span {
  font-size: 12px;
}
.keysize-item .btn {
  white-space: normal;
}
.keysize-item .xfControl {
  display: inline-block;
  width: 30%;
}
.keysize-item button {
  width: 100%;
}
#key-size {
  display: none;
  visibility: hidden;
}
#expire {
  display: none;
  visibility: hidden;
}
.expire-btn {
  display: block;
  margin-bottom: 3px;
}
.oneyear {
  width: 33%;
}
.threeyears {
  width: 66%;
}
.fiveyears {
  width: 100%;
}
.xfSelect1 .xfValue {
  background: transparent;
  border: none;
}
.xfSelectorItem {
  whitespace: nowrap;
}
.xfSelectorItem label {
  margin: 0 15px 0 5px;
  color: white;
}
.fa-rotate-left {
  font-size: 26px;
  padding-top: 8px;
  float: right;
}
#summary {
  position: relative;
  border: 1px solid;
  border-radius: 5px;
  width: 300px;
  height: 180px;
  overflow: auto;
  background: whitesmoke;
  margin: 0 auto;
  margin-top: 30px;
  color: #333;
  background: #c79810;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #c79810 0%, #eab92d 33%, #e8e2d3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #c79810), color-stop(33%, #eab92d), color-stop(100%, #e8e2d3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #c79810 0%, #eab92d 33%, #e8e2d3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #c79810 0%, #eab92d 33%, #e8e2d3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #c79810 0%, #eab92d 33%, #e8e2d3 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #c79810 0%, #eab92d 33%, #e8e2d3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c79810', endColorstr='#e8e2d3', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(51, 51, 51, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(51, 51, 51, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(51, 51, 51, 0.75);
}
#summary .cert-text {
  margin-top: 50px;
  margin-left: 20px;
  width: 90%;
  overflow: hidden;
}
#summary img {
  float: right;
  margin: 10px 10px 0 0;
}
#summary .xfOutput {
  float: left;
}
#summary .xfOutput .xfValue {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  text-shadow: -2px 1px 1px #ca9b13, -2px 1px 1px #c99a12;
  border: none;
}
#summary .xfOutput label.xfLabel {
  font-size: 0.8em;
  display: block;
  margin-bottom: -6px;
}
#summary .summary-long {
  clear: both;
  width: 265px;
}
#summary .summary-short {
  width: 100px;
}
.app-name {
  text-align: center;
  font-size: 48px;
  color: steelblue;
  margin-top: 20px;
}
menu {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  whitespace: nowrap;
}
.xfCase {
  max-width: 480px;
  margin: 0 auto;
  background: steelblue;
  border: 1px solid #c6d9e8;
  padding: 20px;
  position: relative;
}
.keysize-btn.2048 {
  width: 40px;
}
.keysize-btn.4096 {
  width: 80px;
}
.keysize-btn.8192 {
  width: 160px;
}
.wizard-nav {
  width: 100%;
  display: inline-block;
}
.wizard-nav .prev-step {
  float: left;
}
.wizard-nav .next-step {
  float: right;
}
.wizard-nav .xfValue {
  width: 40px;
  height: 40px;
  background: transparent;
  color: whitesmoke;
  font-size: 34px;
  border: none;
  opacity: 0.5;
  width: 60px;
}
.wizard-nav .xfValue:hover {
  opacity: 1;
}
.carousel-indicators {
  top: 290px;
  height: 30px;
}
.carousel-indicators .active {
  margin: 10px 0;
}
ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}
h3 {
  color: whitesmoke;
  margin-top: 10px;
}
.hint {
  margin-top: 0;
}
#home .cert-list {
  opacity: 0.7;
  background: steelblue;
  color: whitesmoke;
  padding: 20px;
}
#home .cert-list thead td {
  font-weight: 700;
  color: white;
}
#home .cert-list tr:hover {
  color: #333;
}
#home .cert-list thead tr:hover {
  color: whitesmoke;
}
#home .cert-list td {
  vertical-align: middle;
}
#home .cert-list .fa-lock.active {
  color: darkgreen;
}
#home .cert-list .fa {
  min-height: 43px;
  display: inline-block;
}
#home .cert-list .fa-unlock.pending {
  color: orange;
}
#home .cert-list .fa-lock.expired {
  color: darkred;
}
#home .cert-list td:nth-child(3) {
  text-align: center;
  font-size: 16px;
}
#home ul {
  text-align: center;
}
#home li {
  width: 100%;
}
#home .xfTrigger {
  display: inline-block;
  width: 100%;
}
#home button {
  width: 280px;
  padding: 10px;
  position: relative;
}
#home button .fa {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 13px;
}
.bf-panel {
  background: transparent;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  color: whitesmoke;
  animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-duration: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -o-animation-duration: 2s;
}
.bf-panel form {
  display: inline-block;
}
.bf-panel form ul,
.bf-panel form li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.bf-panel li {
  margin: 10px 0;
}
.bf-panel .xfLabel {
  font-weight: 300;
}
.bf-panel .form-label {
  font-size: 1.25em;
  border-bottom: thin solid #999999;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  letter-spacing: 3;
}
.bf-panel label,
.bf-panel input {
  font-size: 1.2em;
  float: left;
}
.bf-panel input {
  float: left;
}
.bf-panel input:required {
  font-weight: bold;
}
.bf-panel #save-ca {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
#config,
#create {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: none;
}
#certs,
#revoke {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#revoke {
  border-left: none;
}
